In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

In [2]:
pd.set_option('display.max_columns', None)

#### Data loading and Exploration

In [3]:
training_set = pd.read_csv('training.csv')
training_set.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,255237,0,Cash loans,F,N,Y,1,427500.0,1842768.0,177826.5,1800000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.046220,-15377,-745,-2249.0,-2788,NaN,1,1,0,1,0,1,Cooking staff,3.0,1,1,THURSDAY,14,0,0,0,0,0,0,Medicine,0.881467,0.735645,NaN,0.0082,NaN,0.9692,NaN,NaN,NaN,0.0690,0.0417,NaN,0.0158,NaN,0.0088,NaN,0.0000,0.0084,NaN,0.9692,NaN,NaN,NaN,0.0690,0.0417,NaN,0.0161,NaN,0.0091,NaN,0.0000,0.0083,NaN,0.9692,NaN,NaN,NaN,0.0690,0.0417,NaN,0.0160,NaN,0.0089,NaN,0.0000,NaN,block of flats,0.0077,Mixed,No,3.0,0.0,3.0,0.0,-577.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,12681,0,Cash loans,M,Y,N,0,135000.0,687600.0,18265.5,450000.0,"Spouse, partner",Working,Secondary / secondary special,Married,House / apartment,0.024610,-17163,-1019,-102.0,-719,0.0,1,1,0,1,0,0,Security staff,2.0,2,2,THURSDAY,12,0,0,0,0,1,1,Security,NaN,0.503512,0.810618,0.0170,0.0103,0.9727,0.6804,0.0035,0.00,0.0690,0.0417,0.0833,0.0032,0.0172,0.0106,0.0019,0.0008,0.0084,0.0000,0.9618,0.6014,0.0021,0.0000,0.0690,0.0417,0.0833,0.0000,0.0129,0.0055,0.0000,0.0000,0.0161,0.0000,0.9732,0.6847,0.0035,0.00,0.0690,0.0417,0.0833,0.0021,0.0175,0.0116,0.0019,0.0000,reg oper account,block of flats,0.0041,"Stone, brick",No,2.0,0.0,2.0,0.0,-4.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,46342,0,Cash loans,M,Y,Y,0,315000.0,1067940.0,31356.0,765000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.019101,-9513,-498,-3847.0,-2176,4.0,1,1,0,1,0,0,NaN,2.0,2,2,TUESDAY,9,0,1,1,0,1,1,Industry: type 9,0.536909,0.691159,NaN,0.1649,0.1060,0.9876,0.8300,0.0307,0.16,0.1379,0.3750,0.2292,0.0543,0.1345,0.2124,0.2317,0.0000,0.1261,0.0849,0.9876,0.8367,0.0309,0.1208,0.1034,0.3750,0.0417,0.0547,0.1102,0.1369,0.0000,0.0000,0.1665,0.1060,0.9876,0.8323,0.0309,0.16,0.1379,0.3750,0.2292,0.0552,0.1368,0.2162,0.2329,0.0000,reg oper account,block of flats,0.2475,Panel,No,12.0,0.0,12.0,0.0,-1431.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,229866,0,Cash loans,F,N,Y,0,132750.0,254700.0,24939.0,225000.0,Family,Pensioner,Secondary / secondary special,Married,House / apartment,0.024610,-25076,365243,-6712.0,-4107,NaN,1,0,0,1,1,0,NaN,2.0,2,2,THURSDAY,17,0,0,0,0,0,0,XNA,NaN,0.708316,0.654529,0.1948,0.1243,0.9906,0.8708,0.0351,0.20,0.1724,0.3333,0.3750,0.0591,0.1572,0.2081,0.0077,0.0107,0.1985,0.1290,0.9906,0.8759,0.0355,0.2014,0.1724,0.3333,0.3750,0.0604,0.1717,0.2168,0.0078,0.0113,0.1967,0.1243,0.9906,0.8725,0.0354,0.20,0.1724,0.3333,0.3750,0.0601,0.1599,0.2118,0.0078,0.0109,reg oper account,block of flats,0.1852,"Stone, brick",No,0.0,0.0,0.0,0.0,-2354.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
4,39700,0,Cash loans,M,Y,Y,2,112500.0,840996.0,24718.5,702000.0,Unaccompanied,Working,Higher education,Married,Rented apartment,0.031329,-18228,-944,-1511.0,-1502,14.0,1,1,0,1,0,0,Laborers,4.0,2,2,MONDAY,14,0,0,0,0,1,1,Business Entity Type 3,NaN,0.567202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-156.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,3.0,4.0

In [4]:
training_set.info('all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108000 entries, 0 to 107999
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE            object
 3    CODE_GENDER                   object
 4    FLAG_OWN_CAR                  object
 5    FLAG_OWN_REALTY               object
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               object
 12   NAME_INCOME_TYPE              object
 13   NAME_EDUCATION_TYPE           object
 14   NAME_FAMILY_STATUS            object
 15   NAME_HOUSING_TYPE             object
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               object
 29   CNT_FAM_MEMBERS               float64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    object
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             object
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            object
 87   HOUSETYPE_MODE                object
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            object
 90   EMERGENCYSTATE_MODE           object
 91   OBS_30_CNT_SOCIAL_CIRCLE      float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      float64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119  AMT_REQ_CREDIT_BUREAU_MON     float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(65), int64(41), object(16)
memory usage: 100.5+ MB

In [5]:
training_set.shape

(108000, 122)

In [6]:
training_set.describe(include='all')

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,108000.000000,108000.000000,108000,108000,108000,108000,108000.000000,1.080000e+05,1.080000e+05,107997.000000,1.079010e+05,107555,108000,108000,108000,108000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,36533.000000,108000.0,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,74679,108000.000000,108000.000000,108000.000000,108000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000,46862.000000,107771.000000,86048.000000,52222.000000,43886.000000,54324.000000,35534.000000,31931.000000,49517.000000,52627.000000,53280.000000,34134.000000,43054.000000,33611.000000,52834.000000,32446.000000,47364.000000,52222.000000,43886.000000,54324.000000,35534.000000,31931.000000,49517.000000,52627.000000,53280.000000,34134.000000,43054.000000,33611.000000,52834.000000,32446.000000,47364.000000,52222.000000,43886.000000,54324.000000,35534.000000,31931.000000,49517.000000,52627.000000,53280.000000,34134.000000,43054.000000,33611.000000,52834.000000,32446.000000,47364.000000,33467,52893,54890.000000,52120,55807,107682.000000,107682.000000,107682.000000,107682.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,108000.000000,92935.000000,92935.000000,92935.000000,92935.000000,92935.000000,92935.000000
unique,NaN,NaN,2,3,2,2,NaN,NaN,NaN,NaN,NaN,7,8,5,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,NaN,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Cash loans,F,N,Y,NaN,NaN,NaN,NaN,NaN,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laborers,NaN,NaN,NaN,TUESDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Entity Type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,reg oper account,block of flats,NaN,Panel,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,98015,70087,71465,74888,NaN,NaN,NaN,NaN,NaN,87419,56673,77561,68424,95522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19970,NaN,NaN,NaN,18788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25338,51920,NaN,22615,54969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,177768.314148,0.166667,NaN,NaN,NaN,NaN,0.419833,1.686923e+05,5.943725e+05,27018.578766,5.328143e+05,NaN,NaN,NaN,NaN,NaN,0.020645,-15947.660639,62031.638657,-4933.139111,-2970.579972,12.181069,1.0,0.824880,0.200935,0.998009,0.276296,0.056954,NaN,2.153500,2.062648,2.042685,NaN,12.040444,0.015574,0.051315,0.040778,0.083065,0.237500,0.183380,NaN,0.492623,0.504225,0.500042,0.116438,0.087875,0.977523,0.751795,0.044213,0.077140,0.148901,0.224001,0.230456,0.066585,0.100091,0.105982,0.008617,0.027741,0.113264,0.087007,0.976762,0.758871,0.042207,0.072767,0.144296,0.219950,0.226481,0.065213,0.104893,0.104612,0.007826,0.026486,0.116834,0.087394,0.977532,0.755056,0.044160,0.076296,0.148415,0.223581,0.230238,0.067379,0.101245,0.107152,0.008472,0.027677,NaN,NaN,0.101318,NaN,NaN,1.431428,0.149375,1.414368,0.104493,-948.735861,0.000037,0.716556,0.000139,0.015352,0.085213,0.000185,0.080167,0.004000,0.000037,0.003806,0.000009,0.003454,0.002611,0.001074,0.009870,0.000194,0.007704,0.000602,0.000537,0.000407,0.006392,0.007382,0.034906,0.261559,0.268058,1.912563
std,102742.622778,0.372680,NaN,NaN,NaN,NaN,0.722434,3.737625e+05,3.967826e+05,14261.558074,3.636088e+05,NaN,NaN,NaN,NaN,NaN,0.013627,4364.182928,139705.501529,3507.956826,1509.693409,11.873216,0.0,0.380072,0.400702,0.044573,0.447167,0.231755,NaN,0.912445,0.507703,0.501677,NaN,3.266193,0.123821,0.220640,0.197776,0.275981,0.425553,0.386979,NaN,0.212776,0.195830,0.199026,0.107072,0.081955,0.059956,0.112696,0.075120,0.132156,0.099781,0.143541,0.159962,0.081606,0.091356,0.108913,0.046991,0.068753,0.106886,0.083948,0.066170,0.109534,0.073675,0.130102,0.100770,0.142528,0.159571,0.082245,0.096448,0.110224,0.045110,0.069601,0.107815,0.081744,0.060597,0.111410,0.075262,0.132050,0.100146,0.143871,0.160449,0.082309,0.092210,0.110465,0.046657,0.069580,NaN,NaN,0.106373,NaN,NaN,2.547476,0.462607,2.523623,0.375416,823.328233,0.006086,0.450672,0.011784,0.122948,0.279200,0.013607,0.271552,0.063119,0.006086,0.061572,0.003043,0.058667,0.051033,0.032756,0.098859,0.013943,0.087432,0.024525,0.023168,0.020180,0.084794,0.114714,0.206704,0.893758,1.055735,1.873026
min,1.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,2.565000e+04,4.500000e+04,2052.000000,4.500000e+04,NaN,NaN,NaN,NaN,NaN,0.000533,-25229.000000,-17583.000000,-23738.000000,-7197.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,1.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.015053,0.000005,0.000527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-4131.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,88781.750000,0.000000,NaN,NaN,NaN,NaN,0.000000,1.125000e+05,2.700000e+05,16636.500000,2.385000e+05,NaN,NaN,NaN,NaN,NaN,0.010006,-19584.000000,-2694.000000,-7389.000000,-4282.000000,5.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,NaN,2.000000,2.000000,2.000000,NaN,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.322060,0.372494,0.353988,0.056700,0.043900,0.976700,0.687200,0.007800,0.000000,0.069000,0.166700,0.083300,0.018900,0.050400,0.044400,0.000000,0.000000,0.050400,0.040600,0.976200,0.699400,0.007200,0.000000,0.069000,0.166700,0.083300,0.016900,0.053300,0.041900,0.000000,0.000000,0.057300,0.043500,0.976700,0.691400,0.007800,0.000000,0.069000,0.166700,0.083300,0.019000,0.051300,0.044800,0.000000,0.000000,NaN,NaN,0.040700,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-1555.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,177918.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,1.440000e+05,5.108535e+05,24939.000000,4.500000e+05,NaN,NaN,NaN,NaN,NaN,0.018850,-15641.000000,-1186.500000,-4448.000000,-3205.000000,9.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,NaN,2.000000,2.000000,2.000000,NaN,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.495104,0.556468,0.522697,0.086600,0.075900,0.981600,0.755200,0.021000,0.000000,0.137900,0.166700,0.208300,0.048500,0.074800,0.073300,0.000000,0.003300,0.084000,0.074300,0.981600,0.758300,0.019000,0.000000,0.137900,0.166700,0.208300,0.046100,0.075300,0.072600,0.000000,0.000900,0.085400,0.075400,0.981600,0.758500,0.020700,0.000000,0.137900,0.166700,0.208300,0.049000,0.076100,0.073900,0.000000,0.002900,NaN,NaN,0.068400,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-737.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,266524.750000,0.000000,NaN,NaN,NaN,NaN,1.000000,2.025000e+05,8.086500e+05,34456.500000,6.795000e+05,NaN,NaN,NaN,NaN,NaN,0.028663,-12293.000000,-298.000000,-1965.000000,-1687.000000,15.000000,1.0,1.000000,0.000000,1.000000,1.000000,0.000000,NaN,3.000000,2.000000,2.000000,NaN,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.666044,0.659202,0.659406,0.148500,0.111600,0.986600,0.823200,0.051500,0.120000,0.206900,0.333300,0.375000,0.085800,0.121000,0.128400,0.003900,0.027200,0.142900,0.111900,0.986600,0.823600,0.049300,0.120800,0.206900,0.333300,0.375000,0.084100,0.131300,0.124200,0.003900,0.022500,0.148900,0.111000,0.986600,0.825600,0.051400,0.120000,0.206900,0.333300,0.375000,0.087100,0.123100,0.129000,0.003900,0.026200,NaN,NaN,0.126300,NaN,NaN,2.000000,0.000000,2.000000,0.000000,-265.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,356244.000000,1.000000,NaN,NaN,NaN,NaN,12.000000,1.170000e+08,4.050000e+06,230161.500000,4.050000e+06,NaN,NaN,NaN,NaN,NaN,0.072508,-7673.000000,365243.000000,0.000000,0.000000,91.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,14.000000,3.000000,3.000000,NaN,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.962693,0.855000,0.896010,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,1.000000,NaN,NaN,348.000000,34.000000,344.000000,24.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,18.000000,261.000000,22.000000

#### Label Encoding of Categorical Features

In [7]:
training_set['NAME_CONTRACT_TYPE'].value_counts()

Cash loans         98015
Revolving loans     9985
Name: NAME_CONTRACT_TYPE, dtype: int64

In [8]:
training_set['NAME_CONTRACT_TYPE'] = training_set['NAME_CONTRACT_TYPE'].map({'Cash loans':0, 'Revolving loans':1})
training_set['NAME_CONTRACT_TYPE']

0         0
1         0
2         0
3         0
4         0
         ..
107995    0
107996    0
107997    0
107998    0
107999    0
Name: NAME_CONTRACT_TYPE, Length: 108000, dtype: int64

In [9]:
training_set['CODE_GENDER'].value_counts()

F      70087
M      37911
XNA        2
Name: CODE_GENDER, dtype: int64

In [10]:
training_set['CODE_GENDER'] = training_set['CODE_GENDER'].map({'F':0, 'M':1, 'XNA':2})
training_set['CODE_GENDER']

0         0
1         1
2         1
3         0
4         1
         ..
107995    0
107996    1
107997    0
107998    0
107999    0
Name: CODE_GENDER, Length: 108000, dtype: int64

In [11]:
training_set['FLAG_OWN_CAR'].value_counts()

N    71465
Y    36535
Name: FLAG_OWN_CAR, dtype: int64

In [12]:
training_set['FLAG_OWN_CAR'] = training_set['FLAG_OWN_CAR'].map({'N':0, 'Y':1})
training_set['FLAG_OWN_CAR']

0         0
1         1
2         1
3         0
4         1
         ..
107995    0
107996    1
107997    0
107998    1
107999    1
Name: FLAG_OWN_CAR, Length: 108000, dtype: int64

In [13]:
training_set['FLAG_OWN_REALTY'].value_counts()

Y    74888
N    33112
Name: FLAG_OWN_REALTY, dtype: int64

In [14]:
training_set['FLAG_OWN_REALTY'] = training_set['FLAG_OWN_REALTY'].map({'Y':0, 'N':1})
training_set['FLAG_OWN_REALTY']

0         0
1         1
2         0
3         0
4         0
         ..
107995    0
107996    1
107997    1
107998    0
107999    1
Name: FLAG_OWN_REALTY, Length: 108000, dtype: int64

In [15]:
training_set['NAME_TYPE_SUITE'].value_counts()

Unaccompanied      87419
Family             13989
Spouse, partner     3992
Children            1106
Other_B              637
Other_A              307
Group of people      105
Name: NAME_TYPE_SUITE, dtype: int64

In [16]:
training_set['NAME_TYPE_SUITE'] = training_set['NAME_TYPE_SUITE'].map({'Unaccompanied':0, 'Family':1, 'Spouse, partner':2, 'Children':3, 'Other_B':4, 'Other_A':5, 'Group of people':6})
training_set['NAME_TYPE_SUITE']

0         0.0
1         2.0
2         0.0
3         1.0
4         0.0
         ...
107995    0.0
107996    0.0
107997    0.0
107998    0.0
107999    0.0
Name: NAME_TYPE_SUITE, Length: 108000, dtype: float64

In [17]:
training_set['NAME_INCOME_TYPE'].value_counts()

Working                 56673
Commercial associate    24893
Pensioner               18901
State servant            7509
Unemployed                  9
Student                     8
Businessman                 4
Maternity leave             3
Name: NAME_INCOME_TYPE, dtype: int64

In [18]:
training_set['NAME_INCOME_TYPE'] = training_set['NAME_INCOME_TYPE'].map({'Working':0, 'Commercial associate':1, 'Pensioner':2, 'State servant':3, 'Unemployed':4, 'Student':5, 'Businessman':6, 'Maternity leave':7})
training_set['NAME_INCOME_TYPE']

0         3
1         0
2         1
3         2
4         0
         ..
107995    0
107996    0
107997    0
107998    3
107999    0
Name: NAME_INCOME_TYPE, Length: 108000, dtype: int64

In [19]:
training_set['NAME_EDUCATION_TYPE'].value_counts()

Secondary / secondary special    77561
Higher education                 25454
Incomplete higher                 3574
Lower secondary                   1370
Academic degree                     41
Name: NAME_EDUCATION_TYPE, dtype: int64

In [20]:
training_set['NAME_EDUCATION_TYPE'] = training_set['NAME_EDUCATION_TYPE'].map({'Secondary / secondary special':0, 'Higher education':1, 'Incomplete higher':2, 'Lower secondary':3, 'Academic degree':4})
training_set['NAME_EDUCATION_TYPE']

0         1
1         0
2         1
3         0
4         1
         ..
107995    0
107996    1
107997    0
107998    1
107999    0
Name: NAME_EDUCATION_TYPE, Length: 108000, dtype: int64

In [21]:
training_set['NAME_FAMILY_STATUS'].value_counts()

Married                 68424
Single / not married    16292
Civil marriage          10812
Separated                6972
Widow                    5500
Name: NAME_FAMILY_STATUS, dtype: int64

In [22]:
training_set['NAME_FAMILY_STATUS'] = training_set['NAME_FAMILY_STATUS'].map({'Married':0, 'Single / not married':1, 'Civil marriage':2, 'Separated':3, 'Widow':4})
training_set['NAME_FAMILY_STATUS']

0         0
1         0
2         0
3         0
4         0
         ..
107995    2
107996    2
107997    0
107998    0
107999    0
Name: NAME_FAMILY_STATUS, Length: 108000, dtype: int64

In [23]:
training_set['NAME_HOUSING_TYPE'].value_counts()

House / apartment      95522
With parents            5419
Municipal apartment     3974
Rented apartment        1763
Office apartment         935
Co-op apartment          387
Name: NAME_HOUSING_TYPE, dtype: int64

In [24]:
training_set['NAME_HOUSING_TYPE'] = training_set['NAME_HOUSING_TYPE'].map({'House / apartment':0, 'With parents':1, 'Municipal apartment':2, 'Rented apartment':3, 'Office apartment':4, 'Co-op apartment':5})
training_set['NAME_HOUSING_TYPE']

0         0
1         0
2         0
3         0
4         3
         ..
107995    0
107996    0
107997    0
107998    0
107999    0
Name: NAME_HOUSING_TYPE, Length: 108000, dtype: int64

In [25]:
training_set['OCCUPATION_TYPE'].value_counts()

Laborers                 19970
Sales staff              11479
Core staff                9494
Managers                  7373
Drivers                   6781
High skill tech staff     3854
Accountants               3260
Medicine staff            2939
Security staff            2438
Cooking staff             2108
Cleaning staff            1714
Private service staff      894
Low-skill Laborers         798
Waiters/barmen staff       472
Secretaries                446
Realty agents              275
HR staff                   203
IT staff                   181
Name: OCCUPATION_TYPE, dtype: int64

In [26]:
training_set['OCCUPATION_TYPE'] = training_set['OCCUPATION_TYPE'].map({'Laborers':0, 'Sales staff':1, 'Core staff':2, 'Managers':3, 'Drivers':4, 'High skill tech staff':5, 'Accountants':6, 'Medicine staff':7, 'Security staff':8, 'Cooking staff':9, 'Cleaning staff':10, 'Private service staff':11, 'Low-skill Laborers':12, 'Waiters/barmen staff':13, 'Secretaries':14, 'Realty agents':15, 'HR staff':16, 'IT staff':17})
training_set['OCCUPATION_TYPE']

0         9.0
1         8.0
2         NaN
3         NaN
4         0.0
         ...
107995    5.0
107996    NaN
107997    0.0
107998    2.0
107999    0.0
Name: OCCUPATION_TYPE, Length: 108000, dtype: float64

In [27]:
training_set['WEEKDAY_APPR_PROCESS_START'].value_counts()

TUESDAY      18788
WEDNESDAY    18301
MONDAY       17998
THURSDAY     17720
FRIDAY       17617
SATURDAY     11922
SUNDAY        5654
Name: WEEKDAY_APPR_PROCESS_START, dtype: int64

In [28]:
training_set['WEEKDAY_APPR_PROCESS_START'] = training_set['WEEKDAY_APPR_PROCESS_START'].map({'TUESDAY':0, 'WEDNESDAY':1, 'MONDAY':2, 'THURSDAY':3, 'FRIDAY':4, 'SATURDAY':5, 'SUNDAY':6})
training_set['WEEKDAY_APPR_PROCESS_START']

0         3
1         3
2         0
3         3
4         2
         ..
107995    1
107996    1
107997    0
107998    3
107999    1
Name: WEEKDAY_APPR_PROCESS_START, Length: 108000, dtype: int64

In [29]:
training_set['ORGANIZATION_TYPE'].value_counts()

Business Entity Type 3    24309
XNA                       18909
Self-employed             13754
Other                      5842
Medicine                   3851
Business Entity Type 2     3718
Government                 3652
School                     3002
Trade: type 7              2765
Construction               2495
Kindergarten               2408
Business Entity Type 1     2130
Transport: type 4          1937
Trade: type 3              1273
Industry: type 3           1205
Security                   1156
Industry: type 9           1104
Housing                    1013
Industry: type 11           975
Military                    896
Bank                        864
Agriculture                 850
Police                      790
Postal                      773
Transport: type 2           765
Security Ministries         713
Restaurant                  678
Trade: type 2               659
Services                    542
Transport: type 3           473
Industry: type 7            447
University                  425
Industry: type 1            370
Industry: type 4            317
Electricity                 311
Hotel                       298
Industry: type 5            216
Trade: type 6               199
Insurance                   195
Telecom                     191
Emergency                   190
Industry: type 2            161
Realtor                     149
Advertising                 142
Trade: type 1               124
Industry: type 12           120
Mobile                      110
Culture                     109
Legal Services              103
Cleaning                     95
Transport: type 1            63
Industry: type 6             38
Industry: type 10            36
Religion                     26
Industry: type 13            23
Trade: type 4                17
Trade: type 5                16
Industry: type 8              8
Name: ORGANIZATION_TYPE, dtype: int64

In [30]:
le = LabelEncoder()

In [31]:
le.fit(training_set['ORGANIZATION_TYPE'])
training_set['ORGANIZATION_TYPE'] = le.transform(training_set['ORGANIZATION_TYPE'])

In [32]:
training_set['ORGANIZATION_TYPE']

0         30
1         40
2         26
3         57
4          5
          ..
107995    51
107996    42
107997     5
107998    39
107999    33
Name: ORGANIZATION_TYPE, Length: 108000, dtype: int32

In [33]:
le.fit(training_set['FONDKAPREMONT_MODE'])
training_set['FONDKAPREMONT_MODE'] = le.transform(training_set['FONDKAPREMONT_MODE'])
training_set['FONDKAPREMONT_MODE']

0         4
1         2
2         2
3         2
4         4
         ..
107995    4
107996    2
107997    4
107998    4
107999    4
Name: FONDKAPREMONT_MODE, Length: 108000, dtype: int32

In [34]:
le.fit(training_set['HOUSETYPE_MODE'])
training_set['HOUSETYPE_MODE'] = le.transform(training_set['HOUSETYPE_MODE'])
training_set['HOUSETYPE_MODE']

0         0
1         0
2         0
3         0
4         3
         ..
107995    3
107996    0
107997    0
107998    3
107999    3
Name: HOUSETYPE_MODE, Length: 108000, dtype: int32

In [35]:
le.fit(training_set['WALLSMATERIAL_MODE'])
training_set['WALLSMATERIAL_MODE'] = le.transform(training_set['WALLSMATERIAL_MODE'])
training_set['WALLSMATERIAL_MODE']

0         1
1         5
2         4
3         5
4         7
         ..
107995    7
107996    4
107997    5
107998    7
107999    7
Name: WALLSMATERIAL_MODE, Length: 108000, dtype: int32

In [36]:
le.fit(training_set['EMERGENCYSTATE_MODE'])
training_set['EMERGENCYSTATE_MODE'] = le.transform(training_set['EMERGENCYSTATE_MODE'])
training_set['EMERGENCYSTATE_MODE']

0         0
1         0
2         0
3         0
4         2
         ..
107995    2
107996    0
107997    0
107998    2
107999    2
Name: EMERGENCYSTATE_MODE, Length: 108000, dtype: int32

In [37]:
training_set.info('all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108000 entries, 0 to 107999
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE            int64
 3    CODE_GENDER                   int64
 4    FLAG_OWN_CAR                  int64
 5    FLAG_OWN_REALTY               int64
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               float64
 12   NAME_INCOME_TYPE              int64
 13   NAME_EDUCATION_TYPE           int64
 14   NAME_FAMILY_STATUS            int64
 15   NAME_HOUSING_TYPE             int64
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               float64
 29   CNT_FAM_MEMBERS               float64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    int64
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             int32
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            int32
 87   HOUSETYPE_MODE                int32
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            int32
 90   EMERGENCYSTATE_MODE           int32
 91   OBS_30_CNT_SOCIAL_CIRCLE      float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      float64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119  AMT_REQ_CREDIT_BUREAU_MON     float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(67), int32(5), int64(50)
memory usage: 98.5 MB

#### Dropping any duplicate records and handling missing values

In [38]:
training_set.drop_duplicates(inplace=True)
training_set.shape

(108000, 122)

In [39]:
pd.set_option('display.max_rows', None)

In [40]:
training_set.isna().sum()

SK_ID_CURR                          0
TARGET                              0
NAME_CONTRACT_TYPE                  0
CODE_GENDER                         0
FLAG_OWN_CAR                        0
FLAG_OWN_REALTY                     0
CNT_CHILDREN                        0
AMT_INCOME_TOTAL                    0
AMT_CREDIT                          0
AMT_ANNUITY                         3
AMT_GOODS_PRICE                    99
NAME_TYPE_SUITE                   445
NAME_INCOME_TYPE                    0
NAME_EDUCATION_TYPE                 0
NAME_FAMILY_STATUS                  0
NAME_HOUSING_TYPE                   0
REGION_POPULATION_RELATIVE          0
DAYS_BIRTH                          0
DAYS_EMPLOYED                       0
DAYS_REGISTRATION                   0
DAYS_ID_PUBLISH                     0
OWN_CAR_AGE                     71467
FLAG_MOBIL                          0
FLAG_EMP_PHONE                      0
FLAG_WORK_PHONE                     0
FLAG_CONT_MOBILE                    0
FLAG_PHONE                          0
FLAG_EMAIL                          0
OCCUPATION_TYPE                 33321
CNT_FAM_MEMBERS                     0
REGION_RATING_CLIENT                0
REGION_RATING_CLIENT_W_CITY         0
WEEKDAY_APPR_PROCESS_START          0
HOUR_APPR_PROCESS_START             0
REG_REGION_NOT_LIVE_REGION          0
REG_REGION_NOT_WORK_REGION          0
LIVE_REGION_NOT_WORK_REGION         0
REG_CITY_NOT_LIVE_CITY              0
REG_CITY_NOT_WORK_CITY              0
LIVE_CITY_NOT_WORK_CITY             0
ORGANIZATION_TYPE                   0
EXT_SOURCE_1                    61138
EXT_SOURCE_2                      229
EXT_SOURCE_3                    21952
APARTMENTS_AVG                  55778
BASEMENTAREA_AVG                64114
YEARS_BEGINEXPLUATATION_AVG     53676
YEARS_BUILD_AVG                 72466
COMMONAREA_AVG                  76069
ELEVATORS_AVG                   58483
ENTRANCES_AVG                   55373
FLOORSMAX_AVG                   54720
FLOORSMIN_AVG                   73866
LANDAREA_AVG                    64946
LIVINGAPARTMENTS_AVG            74389
LIVINGAREA_AVG                  55166
NONLIVINGAPARTMENTS_AVG         75554
NONLIVINGAREA_AVG               60636
APARTMENTS_MODE                 55778
BASEMENTAREA_MODE               64114
YEARS_BEGINEXPLUATATION_MODE    53676
YEARS_BUILD_MODE                72466
COMMONAREA_MODE                 76069
ELEVATORS_MODE                  58483
ENTRANCES_MODE                  55373
FLOORSMAX_MODE                  54720
FLOORSMIN_MODE                  73866
LANDAREA_MODE                   64946
LIVINGAPARTMENTS_MODE           74389
LIVINGAREA_MODE                 55166
NONLIVINGAPARTMENTS_MODE        75554
NONLIVINGAREA_MODE              60636
APARTMENTS_MEDI                 55778
BASEMENTAREA_MEDI               64114
YEARS_BEGINEXPLUATATION_MEDI    53676
YEARS_BUILD_MEDI                72466
COMMONAREA_MEDI                 76069
ELEVATORS_MEDI                  58483
ENTRANCES_MEDI                  55373
FLOORSMAX_MEDI                  54720
FLOORSMIN_MEDI                  73866
LANDAREA_MEDI                   64946
LIVINGAPARTMENTS_MEDI           74389
LIVINGAREA_MEDI                 55166
NONLIVINGAPARTMENTS_MEDI        75554
NONLIVINGAREA_MEDI              60636
FONDKAPREMONT_MODE                  0
HOUSETYPE_MODE                      0
TOTALAREA_MODE                  53110
WALLSMATERIAL_MODE                  0
EMERGENCYSTATE_MODE                 0
OBS_30_CNT_SOCIAL_CIRCLE          318
DEF_30_CNT_SOCIAL_CIRCLE          318
OBS_60_CNT_SOCIAL_CIRCLE          318
DEF_60_CNT_SOCIAL_CIRCLE          318
DAYS_LAST_PHONE_CHANGE              0
FLAG_DOCUMENT_2                     0
FLAG_DOCUMENT_3                     0
FLAG_DOCUMENT_4                     0
FLAG_DOCUMENT_5                     0
FLAG_DOCUMENT_6                     0
FLAG_DOCUMENT_7                     0
FLAG_DOCUMENT_8                     0
FLAG_DOCUMENT_9                     0
FLAG_DOCUMENT_10                    0
FLAG_DOCUMENT_11                    0
FLAG_DOCUMENT_12                    0
FLAG_DOCUMENT_13                    0
FLAG_DOCUMENT_14                    0
FLAG_DOCUMENT_15                    0
FLAG_DOCUMENT_16                    0
FLAG_DOCUMENT_17                    0
FLAG_DOCUMENT_18                    0
FLAG_DOCUMENT_19                    0
FLAG_DOCUMENT_20                    0
FLAG_DOCUMENT_21                    0
AMT_REQ_CREDIT_BUREAU_HOUR      15065
AMT_REQ_CREDIT_BUREAU_DAY       15065
AMT_REQ_CREDIT_BUREAU_WEEK      15065
AMT_REQ_CREDIT_BUREAU_MON       15065
AMT_REQ_CREDIT_BUREAU_QRT       15065
AMT_REQ_CREDIT_BUREAU_YEAR      15065
dtype: int64

#### Dropping any features which contains so many null values and selecting the rest of the features

In [41]:
training_set = training_set.drop(['OWN_CAR_AGE', 'OCCUPATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'], axis=1)

In [42]:
training_set.shape

(108000, 69)

#### Dropping any features with pearson correlation greater than 0.22

In [43]:
corr_matrix = training_set.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

to_drop = [column for column in upper.columns if any(upper[column] > 0.22)]
to_drop

<ipython-input-43-b3965f7ecfc0>:2: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

['FLAG_OWN_CAR',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_PHONE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_2',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_8']

In [44]:
training_set = training_set.drop(to_drop, axis=1)
training_set.shape

(108000, 38)

In [45]:
col_names = training_set.columns
col_names

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE',
       'FLAG_MOBIL', 'FLAG_CONT_MOBILE', 'FLAG_EMAIL',
       'WEEKDAY_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'FONDKAPREMONT_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_4',
       'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'],
      dtype='object')

In [46]:
len(col_names)

38

In [47]:
for name in col_names:
    training_set[name] = training_set[name].fillna(training_set[name].mean())

In [48]:
training_set.isna().sum().any()

False

In [49]:
training_set.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,FLAG_MOBIL,FLAG_CONT_MOBILE,FLAG_EMAIL,WEEKDAY_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,FONDKAPREMONT_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_7,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,255237,0,0,0,0,1,427500.0,0.0,3,1,0,0,0.046220,1,1,1,3,0,4,3.0,-577.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,12681,0,0,1,1,0,135000.0,2.0,0,0,0,0,0.024610,1,1,0,3,0,2,2.0,-4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,46342,0,0,1,0,0,315000.0,0.0,1,1,0,0,0.019101,1,1,0,0,0,2,12.0,-1431.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,229866,0,0,0,0,0,132750.0,1.0,2,0,0,0,0.024610,1,1,0,3,0,2,0.0,-2354.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,39700,0,0,1,0,2,112500.0,0.0,0,1,0,3,0.031329,1,1,0,2,0,4,0.0,-156.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

#### Scaling the feature values with MinMaxScaler()

In [50]:
scaler = MinMaxScaler()

In [51]:
scaler.fit(training_set)
training_set = scaler.transform(training_set)

In [52]:
training_set

array([[0.71646601, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.03559368, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.13008256, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.21820218, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.8806152 , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.6148191 , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [53]:
type(training_set)

numpy.ndarray

In [54]:
training_set = pd.DataFrame(training_set, columns=col_names)
training_set.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,FLAG_MOBIL,FLAG_CONT_MOBILE,FLAG_EMAIL,WEEKDAY_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,FONDKAPREMONT_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_7,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,0.716466,0.0,0.0,0.0,0.0,0.083333,0.003435,0.000000,0.428571,0.25,0.0,0.0,0.634762,0.0,1.0,1.0,0.500000,0.0,1.0,0.008621,0.860324,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.035594,0.0,0.0,0.5,1.0,0.000000,0.000935,0.333333,0.000000,0.00,0.0,0.0,0.334519,0.0,1.0,0.0,0.500000,0.0,0.5,0.005747,0.999032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.130083,0.0,0.0,0.5,0.0,0.000000,0.002474,0.000000,0.142857,0.25,0.0,0.0,0.257978,0.0,1.0,0.0,0.000000,0.0,0.5,0.034483,0.653595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.645248,0.0,0.0,0.0,0.0,0.000000,0.000916,0.166667,0.285714,0.00,0.0,0.0,0.334519,0.0,1.0,0.0,0.500000,0.0,0.5,0.000000,0.430162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.111438,0.0,0.0,0.5,0.0,0.166667,0.000742,0.000000,0.000000,0.25,0.0,0.6,0.427871,0.0,1.0,0.0,0.333333,0.0,1.0,0.000000,0.962237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
training_set.shape

(108000, 38)

In [56]:
X_train = training_set.drop(['SK_ID_CURR', 'TARGET', 'AMT_INCOME_TOTAL'], axis=1)
y_train = training_set['AMT_INCOME_TOTAL']
X_train.shape, y_train.shape

((108000, 35), (108000,))

#### Repeating the Preprocessing Steps for testing set

In [57]:
test_set = pd.read_csv('test.csv')
test_set.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,307579,0,Cash loans,F,N,Y,1,99000.0,270000.0,17707.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,0.046220,-13809,-2446,-3778.0,-4563,NaN,1,1,1,1,0,0,Laborers,2.0,1,1,TUESDAY,10,0,1,1,0,1,1,Trade: type 7,NaN,0.689532,0.780144,0.0278,0.0556,0.9861,0.8096,0.0019,0.0,0.1034,0.0833,0.0417,NaN,0.0227,0.0279,0.0,0.009,0.0284,0.0577,0.9861,0.8171,0.002,0.0,0.1034,0.0833,0.0417,NaN,0.0248,0.0291,0.0,0.0095,0.0281,0.0556,0.9861,0.8121,0.002,0.0,0.1034,0.0833,0.0417,NaN,0.0231,0.0284,0.0,0.0092,reg oper account,block of flats,0.0246,Panel,No,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,221838,0,Cash loans,F,N,Y,0,58500.0,254700.0,14350.5,225000.0,Children,Pensioner,Secondary / secondary special,Separated,House / apartment,0.020713,-23937,365243,-814.0,-4552,NaN,1,0,0,1,0,0,NaN,1.0,3,3,THURSDAY,8,0,0,0,0,0,0,XNA,NaN,0.133912,0.595456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
2,194532,0,Cash loans,M,N,Y,0,126000.0,1288350.0,37800.0,1125000.0,Group of people,Working,Secondary / secondary special,Married,House / apartment,0.031329,-19296,-3350,-8879.0,-2835,NaN,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,MONDAY,12,0,0,0,0,0,0,Agriculture,NaN,0.477526,0.669057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,0.0,6.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
3,216272,0,Cash loans,M,Y,Y,0,225000.0,1706728.5,49900.5,1525500.0,"Spouse, partner",Working,Secondary / secondary special,Civil marriage,House / apartment,0.020246,-21519,-1136,-3274.0,-3476,16.0,1,1,0,1,0,0,Managers,2.0,3,3,WEDNESDAY,10,0,1,1,0,1,1,Restaurant,NaN,0.383842,0.560284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0.0,5.0,0.0,-1770.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,325581,0,Cash loans,F,N,Y,0,67500.0,549882.0,16209.0,459000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-19593,-550,-7234.0,-2761,NaN,1,1,0,1,0,0,Sales staff,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,NaN,0.357342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,-2415.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
test_set.info('all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE            object
 3    CODE_GENDER                   object
 4    FLAG_OWN_CAR                  object
 5    FLAG_OWN_REALTY               object
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               object
 12   NAME_INCOME_TYPE              object
 13   NAME_EDUCATION_TYPE           object
 14   NAME_FAMILY_STATUS            object
 15   NAME_HOUSING_TYPE             object
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               object
 29   CNT_FAM_MEMBERS               float64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    object
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             object
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            object
 87   HOUSETYPE_MODE                object
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            object
 90   EMERGENCYSTATE_MODE           object
 91   OBS_30_CNT_SOCIAL_CIRCLE      float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      float64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119  AMT_REQ_CREDIT_BUREAU_MON     float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(65), int64(41), object(16)
memory usage: 11.2+ MB

In [59]:
test_set.shape

(12000, 122)

In [60]:
test_set.describe(include='all')

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,12000.000000,12000.000000,12000,12000,12000,12000,12000.000000,1.200000e+04,1.200000e+04,11998.000000,1.199300e+04,11948,12000,12000,12000,12000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,4132.000000,12000.0,12000.00000,12000.000000,12000.00000,12000.000000,12000.000000,8295,12000.000000,12000.000000,12000.000000,12000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000,5154.000000,11970.000000,9675.000000,5796.000000,4869.000000,6022.000000,3901.000000,3540.000000,5470.000000,5843.000000,5909.000000,3786.000000,4765.000000,3724.000000,5848.000000,3576.000000,5227.000000,5796.000000,4869.000000,6022.000000,3901.000000,3540.000000,5470.000000,5843.000000,5909.000000,3786.000000,4765.000000,3724.000000,5848.000000,3576.000000,5227.000000,5796.000000,4869.000000,6022.000000,3901.000000,3540.000000,5470.000000,5843.000000,5909.000000,3786.000000,4765.000000,3724.000000,5848.000000,3576.000000,5227.000000,3698,5864,6085.000000,5785,6184,11964.000000,11964.000000,11964.000000,11964.000000,12000.000000,12000.0,12000.000000,12000.0,12000.000000,12000.000000,12000.0,12000.000000,12000.000000,12000.0,12000.000000,12000.0,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.00000,12000.000000,12000.000000,10403.000000,10403.000000,10403.000000,10403.000000,10403.000000,10403.000000
unique,NaN,NaN,2,3,2,2,NaN,NaN,NaN,NaN,NaN,7,5,5,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,NaN,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Cash loans,F,N,Y,NaN,NaN,NaN,NaN,NaN,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laborers,NaN,NaN,NaN,TUESDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Entity Type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,reg oper account,block of flats,NaN,Panel,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,10900,7853,7868,8322,NaN,NaN,NaN,NaN,NaN,9704,6312,8605,7619,10664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2194,NaN,NaN,NaN,2156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2860,5752,NaN,2494,6090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,177805.479667,0.166667,NaN,NaN,NaN,NaN,0.415333,1.685019e+05,5.987534e+05,27212.025088,5.370705e+05,NaN,NaN,NaN,NaN,NaN,0.020576,-15890.739667,61528.909667,-4984.932500,-2955.468250,12.358906,1.0,0.82625,0.201833,0.99750,0.281750,0.055167,NaN,2.150333,2.058500,2.038167,NaN,12.084833,0.015500,0.052000,0.041667,0.079417,0.242083,0.192667,NaN,0.492072,0.505015,0.500273,0.115971,0.087264,0.978054,0.751988,0.044144,0.077448,0.148919,0.223822,0.228604,0.065877,0.099601,0.106431,0.009165,0.027890,0.112629,0.086287,0.977562,0.759599,0.042069,0.072752,0.144212,0.220520,0.225222,0.064905,0.104179,0.104887,0.008366,0.026294,0.116332,0.086597,0.978003,0.755346,0.044197,0.076472,0.148319,0.223513,0.228144,0.066983,0.100738,0.107442,0.009026,0.027485,NaN,NaN,0.101124,NaN,NaN,1.424691,0.148696,1.407974,0.101555,-953.823500,0.0,0.722000,0.0,0.015250,0.080667,0.0,0.080833,0.002833,0.0,0.003917,0.0,0.003583,0.003167,0.001250,0.009167,0.000167,0.007917,0.00025,0.000833,0.000333,0.005671,0.005383,0.034990,0.262328,0.263578,1.895799
std,103073.705212,0.372694,NaN,NaN,NaN,NaN,0.711014,1.132322e+05,3.954998e+05,14518.176560,3.626883e+05,NaN,NaN,NaN,NaN,NaN,0.013685,4366.150810,139295.655418,3515.282464,1521.062544,11.934530,0.0,0.37891,0.401385,0.04994,0.449871,0.228315,NaN,0.900260,0.511305,0.507180,NaN,3.302178,0.123536,0.222036,0.199835,0.270399,0.428362,0.394410,NaN,0.213352,0.195383,0.198073,0.107135,0.077967,0.055424,0.112298,0.075097,0.135649,0.100328,0.143106,0.159570,0.078012,0.092053,0.110229,0.050410,0.069021,0.106601,0.079182,0.059801,0.108531,0.072476,0.132702,0.101175,0.142288,0.159451,0.080311,0.097080,0.111323,0.049560,0.068388,0.107927,0.076748,0.056769,0.111153,0.075286,0.135186,0.100548,0.143485,0.159974,0.079828,0.093258,0.111385,0.050277,0.068414,NaN,NaN,0.106216,NaN,NaN,2.360886,0.447762,2.340698,0.357110,823.823341,0.0,0.448032,0.0,0.122551,0.272334,0.0,0.272590,0.053156,0.0,0.062463,0.0,0.059756,0.056186,0.035335,0.095307,0.012909,0.088626,0.01581,0.028857,0.018255,0.075099,0.097901,0.196896,0.865559,0.615389,1.868362
min,15.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,2.610000e+04,4.500000e+04,2173.500000,4.500000e+04,NaN,NaN,NaN,NaN,NaN,0.000290,-25184.000000,-16069.000000,-22928.000000,-6274.000000,0.000000,1.0,0.00000,0.000000,0.00000,0.000000,0.000000,NaN,1.000000,1.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.024952,0.000006,0.000527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-4054.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,88832.250000,0.000000,NaN,NaN,NaN,NaN,0.000000,1.125000e+05,2.700000e+05,16831.125000,2.385000e+05,NaN,NaN,NaN,NaN,NaN,0.010006,-19514.250000,-2728.750000,-7438.500000,-4280.000000,5.000000,1.0,1.00000,0.000000,1.00000,0.000000,0.000000,NaN,2.000000,2.000000,2.000000,NaN,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.321043,0.372465,0.357293,0.055700,0.041600,0.976700,0.687200,0.008000,0.000000,0.069000,0.166700,0.083300,0.018700,0.050400,0.044800,0.000000,0.000000,0.050400,0.039500,0.976200,0.699400,0.007675,0.000000,0.069000,0.166700,0.083300,0.016600,0.053300,0.042500,0.000000,0.000000,0.056200,0.041500,0.976700,0.691400,0.008100,0.000000,0.069000,0.166700,0.083300,0.018700,0.051300,0.045300,0.000000,0.000000,NaN,NaN,0.040100,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-1555.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,176010.500000,0.000000,NaN,NaN,NaN,NaN,0.000000,1.440000e+05,5.185620e+05,24939.000000,4.500000e+05,NaN,NaN,NaN,NaN,NaN,0.018850,-15554.500000,-1221.500000,-4487.500000,-3201.500000,10.000000,1.0,1.00000,0.000000,1.00000,0.000000,0.000000,NaN,2.000000,2.000000,2.000000,NaN,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.493589,0.558124,0.524496,0.086600,0.076100,0.981600,0.755200,0.020800,0.000000,0.137900,0.166700,0.208300,0.048800,0.075600,0.074400,0.000000,0.003300,0.084000,0.073300,0.981600,0.764800,0.019400,0.000000,0.137900,0.166700,0.208300,0.047200,0.077100,0.073100,0.000000,0.000800,0.086400,0.076000,0.981600,0.758500,0.020700,0.000000,0.137900,0.166700,0.208300,0.049500,0.077000,0.074700,0.000000,0.002900,NaN,NaN,0.068600,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-737.000000,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,269035.500000,0.000000,NaN,NaN,NaN,NaN,1.000000,2.025000e+05,8.086500e+05,34785.000000,6.795000e+05,NaN,NaN,NaN,NaN,NaN,0.028663,-12315.750000,-317.000000,-2020.500000,-1649.750000,15.000000,1.0,1.00000,0.000000,1.00000,1.000000,0.000000,NaN,3.000000,2.000000,2.000000,NaN,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.664575,0.659475,0.661024,0.147025,0.112700,0.986600,0.823200,0.050200,0.120000,0.206900,0.333300,0.375000,0.087100,0.121000,0.128000,0.004025,0.028200,0.139975,0.113200,0.986600,0.823600,0.048125,0.120800,0.206900,0.333300,0.375000,0.085200,0.128600,0.124300,0.003900,0.022000,0.147800,0.112300,0.986600,0.825600,0.050425,0.120000,0.206900,0.333300,0.375000,0.088200,0.123100,0.127800,0.003900,0.027050,NaN,NaN,0.124900,NaN,NaN,2.000000,0.000000,2.000000,0.000000,-272.750000,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,356145.000000,1.000000,NaN,NaN,NaN,NaN,6.000000,4.500000e+06,3.375000e+06,215500.500000,3.375000e+06,NaN,NaN,NaN,NaN,NaN,0.072508,-7690.000000,365243.000000,0.000000,-1.000000,65.000000,1.0,1.00000,1.000000,1.00000,1.000000,1.000000,NaN,8.000000,3.000000,3.000000,NaN,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.939097,0.816655,0.882530,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,1.000000,NaN,NaN,27.000000,6.000000,27.000000,5.000000,0.000000,0.0,1.000000,0.0,1.000000,1.000000,0.0,1.000000,1.000000,0.0,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,5.000000,5.000000,16.000000,6.000000,15.000000

In [61]:
test_set['NAME_CONTRACT_TYPE'].value_counts()

Cash loans         10900
Revolving loans     1100
Name: NAME_CONTRACT_TYPE, dtype: int64

In [62]:
test_set['NAME_CONTRACT_TYPE'] = test_set['NAME_CONTRACT_TYPE'].map({'Cash loans':0, 'Revolving loans':1})

In [63]:
test_set['CODE_GENDER'].value_counts()

F      7853
M      4146
XNA       1
Name: CODE_GENDER, dtype: int64

In [64]:
test_set['CODE_GENDER'] = test_set['CODE_GENDER'].map({'F':0, 'M':1, 'XNA':2})

In [65]:
test_set['FLAG_OWN_CAR'].value_counts()

N    7868
Y    4132
Name: FLAG_OWN_CAR, dtype: int64

In [66]:
test_set['FLAG_OWN_CAR'] = test_set['FLAG_OWN_CAR'].map({'N':0, 'Y':1})

In [67]:
test_set['FLAG_OWN_REALTY'].value_counts()

Y    8322
N    3678
Name: FLAG_OWN_REALTY, dtype: int64

In [68]:
test_set['FLAG_OWN_REALTY'] = test_set['FLAG_OWN_REALTY'].map({'Y':0, 'N':1})

In [69]:
test_set['NAME_TYPE_SUITE'].value_counts()

Unaccompanied      9704
Family             1553
Spouse, partner     451
Children            143
Other_B              62
Other_A              24
Group of people      11
Name: NAME_TYPE_SUITE, dtype: int64

In [70]:
test_set['NAME_TYPE_SUITE'] = test_set['NAME_TYPE_SUITE'].map({'Unaccompanied':0, 'Family':1, 'Spouse, partner':2, 'Children':3, 'Other_B':4, 'Other_A':5, 'Group of people':6})

In [71]:
test_set['NAME_INCOME_TYPE'].value_counts()

Working                 6312
Commercial associate    2787
Pensioner               2086
State servant            814
Businessman                1
Name: NAME_INCOME_TYPE, dtype: int64

In [72]:
test_set['NAME_INCOME_TYPE'] = test_set['NAME_INCOME_TYPE'].map({'Working':0, 'Commercial associate':1, 'Pensioner':2, 'State servant':3, 'Unemployed':4, 'Student':5, 'Businessman':6, 'Maternity leave':7})

In [73]:
test_set['NAME_EDUCATION_TYPE'].value_counts()

Secondary / secondary special    8605
Higher education                 2813
Incomplete higher                 423
Lower secondary                   154
Academic degree                     5
Name: NAME_EDUCATION_TYPE, dtype: int64

In [74]:
test_set['NAME_EDUCATION_TYPE'] = test_set['NAME_EDUCATION_TYPE'].map({'Secondary / secondary special':0, 'Higher education':1, 'Incomplete higher':2, 'Lower secondary':3, 'Academic degree':4})

In [75]:
test_set['NAME_FAMILY_STATUS'] = test_set['NAME_FAMILY_STATUS'].map({'Married':0, 'Single / not married':1, 'Civil marriage':2, 'Separated':3, 'Widow':4})

In [76]:
test_set['NAME_HOUSING_TYPE'].value_counts()

House / apartment      10664
With parents             572
Municipal apartment      445
Rented apartment         184
Office apartment         101
Co-op apartment           34
Name: NAME_HOUSING_TYPE, dtype: int64

In [77]:
test_set['NAME_HOUSING_TYPE'] = test_set['NAME_HOUSING_TYPE'].map({'House / apartment':0, 'With parents':1, 'Municipal apartment':2, 'Rented apartment':3, 'Office apartment':4, 'Co-op apartment':5})

In [78]:
test_set['OCCUPATION_TYPE'].value_counts()

Laborers                 2194
Sales staff              1298
Core staff               1053
Managers                  845
Drivers                   760
High skill tech staff     430
Medicine staff            353
Accountants               336
Security staff            265
Cooking staff             234
Cleaning staff            168
Low-skill Laborers         98
Private service staff      95
Waiters/barmen staff       50
Secretaries                47
Realty agents              31
HR staff                   20
IT staff                   18
Name: OCCUPATION_TYPE, dtype: int64

In [79]:
test_set['OCCUPATION_TYPE'] = test_set['OCCUPATION_TYPE'].map({'Laborers':0, 'Sales staff':1, 'Core staff':2, 'Managers':3, 'Drivers':4, 'High skill tech staff':5, 'Accountants':6, 'Medicine staff':7, 'Security staff':8, 'Cooking staff':9, 'Cleaning staff':10, 'Private service staff':11, 'Low-skill Laborers':12, 'Waiters/barmen staff':13, 'Secretaries':14, 'Realty agents':15, 'HR staff':16, 'IT staff':17})

In [80]:
test_set['WEEKDAY_APPR_PROCESS_START'].value_counts()

TUESDAY      2156
WEDNESDAY    2045
THURSDAY     1960
MONDAY       1953
FRIDAY       1950
SATURDAY     1272
SUNDAY        664
Name: WEEKDAY_APPR_PROCESS_START, dtype: int64

In [81]:
test_set['WEEKDAY_APPR_PROCESS_START'] = test_set['WEEKDAY_APPR_PROCESS_START'].map({'TUESDAY':0, 'WEDNESDAY':1, 'MONDAY':2, 'THURSDAY':3, 'FRIDAY':4, 'SATURDAY':5, 'SUNDAY':6})

In [82]:
test_set['ORGANIZATION_TYPE'].value_counts()

Business Entity Type 3    2709
XNA                       2085
Self-employed             1550
Other                      620
Medicine                   433
Business Entity Type 2     416
Government                 392
Trade: type 7              343
School                     324
Construction               284
Kindergarten               268
Business Entity Type 1     226
Transport: type 4          218
Industry: type 9           138
Security                   134
Housing                    123
Trade: type 3              118
Industry: type 3           110
Bank                       101
Military                    97
Police                      96
Agriculture                 92
Industry: type 11           88
Transport: type 2           79
Postal                      78
Trade: type 2               78
Security Ministries         75
Restaurant                  71
University                  57
Transport: type 3           53
Industry: type 7            52
Services                    52
Industry: type 1            44
Hotel                       40
Trade: type 6               34
Electricity                 34
Industry: type 4            31
Insurance                   28
Industry: type 2            26
Industry: type 5            23
Emergency                   22
Legal Services              19
Culture                     18
Telecom                     17
Mobile                      15
Industry: type 12           15
Realtor                     11
Trade: type 1               11
Transport: type 1           11
Cleaning                    11
Advertising                 10
Industry: type 13            6
Industry: type 10            5
Industry: type 6             4
Religion                     2
Trade: type 4                2
Industry: type 8             1
Name: ORGANIZATION_TYPE, dtype: int64

In [83]:
le.fit(test_set['ORGANIZATION_TYPE'])
test_set['ORGANIZATION_TYPE'] = le.transform(test_set['ORGANIZATION_TYPE'])

In [84]:
le.fit(test_set['FONDKAPREMONT_MODE'])
test_set['FONDKAPREMONT_MODE'] = le.transform(test_set['FONDKAPREMONT_MODE'])

In [85]:
le.fit(test_set['HOUSETYPE_MODE'])
test_set['HOUSETYPE_MODE'] = le.transform(test_set['HOUSETYPE_MODE'])

In [86]:
le.fit(test_set['WALLSMATERIAL_MODE'])
test_set['WALLSMATERIAL_MODE'] = le.transform(test_set['WALLSMATERIAL_MODE'])

In [87]:
le.fit(test_set['EMERGENCYSTATE_MODE'])
test_set['EMERGENCYSTATE_MODE'] = le.transform(test_set['EMERGENCYSTATE_MODE'])

In [88]:
test_set.info('all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE            int64
 3    CODE_GENDER                   int64
 4    FLAG_OWN_CAR                  int64
 5    FLAG_OWN_REALTY               int64
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               float64
 12   NAME_INCOME_TYPE              int64
 13   NAME_EDUCATION_TYPE           int64
 14   NAME_FAMILY_STATUS            int64
 15   NAME_HOUSING_TYPE             int64
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               float64
 29   CNT_FAM_MEMBERS               float64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    int64
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             int32
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            int32
 87   HOUSETYPE_MODE                int32
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            int32
 90   EMERGENCYSTATE_MODE           int32
 91   OBS_30_CNT_SOCIAL_CIRCLE      float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      float64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119  AMT_REQ_CREDIT_BUREAU_MON     float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(67), int32(5), int64(50)
memory usage: 10.9 MB

In [89]:
test_set.drop_duplicates(inplace=True)
test_set.shape

(12000, 122)

In [90]:
test_set.isna().sum()

SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
AMT_ANNUITY                        2
AMT_GOODS_PRICE                    7
NAME_TYPE_SUITE                   52
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
REGION_POPULATION_RELATIVE         0
DAYS_BIRTH                         0
DAYS_EMPLOYED                      0
DAYS_REGISTRATION                  0
DAYS_ID_PUBLISH                    0
OWN_CAR_AGE                     7868
FLAG_MOBIL                         0
FLAG_EMP_PHONE                     0
FLAG_WORK_PHONE                    0
FLAG_CONT_MOBILE                   0
FLAG_PHONE                         0
FLAG_EMAIL                         0
OCCUPATION_TYPE                 3705
CNT_FAM_MEMBERS                    0
REGION_RATING_CLIENT               0
REGION_RATING_CLIENT_W_CITY        0
WEEKDAY_APPR_PROCESS_START         0
HOUR_APPR_PROCESS_START            0
REG_REGION_NOT_LIVE_REGION         0
REG_REGION_NOT_WORK_REGION         0
LIVE_REGION_NOT_WORK_REGION        0
REG_CITY_NOT_LIVE_CITY             0
REG_CITY_NOT_WORK_CITY             0
LIVE_CITY_NOT_WORK_CITY            0
ORGANIZATION_TYPE                  0
EXT_SOURCE_1                    6846
EXT_SOURCE_2                      30
EXT_SOURCE_3                    2325
APARTMENTS_AVG                  6204
BASEMENTAREA_AVG                7131
YEARS_BEGINEXPLUATATION_AVG     5978
YEARS_BUILD_AVG                 8099
COMMONAREA_AVG                  8460
ELEVATORS_AVG                   6530
ENTRANCES_AVG                   6157
FLOORSMAX_AVG                   6091
FLOORSMIN_AVG                   8214
LANDAREA_AVG                    7235
LIVINGAPARTMENTS_AVG            8276
LIVINGAREA_AVG                  6152
NONLIVINGAPARTMENTS_AVG         8424
NONLIVINGAREA_AVG               6773
APARTMENTS_MODE                 6204
BASEMENTAREA_MODE               7131
YEARS_BEGINEXPLUATATION_MODE    5978
YEARS_BUILD_MODE                8099
COMMONAREA_MODE                 8460
ELEVATORS_MODE                  6530
ENTRANCES_MODE                  6157
FLOORSMAX_MODE                  6091
FLOORSMIN_MODE                  8214
LANDAREA_MODE                   7235
LIVINGAPARTMENTS_MODE           8276
LIVINGAREA_MODE                 6152
NONLIVINGAPARTMENTS_MODE        8424
NONLIVINGAREA_MODE              6773
APARTMENTS_MEDI                 6204
BASEMENTAREA_MEDI               7131
YEARS_BEGINEXPLUATATION_MEDI    5978
YEARS_BUILD_MEDI                8099
COMMONAREA_MEDI                 8460
ELEVATORS_MEDI                  6530
ENTRANCES_MEDI                  6157
FLOORSMAX_MEDI                  6091
FLOORSMIN_MEDI                  8214
LANDAREA_MEDI                   7235
LIVINGAPARTMENTS_MEDI           8276
LIVINGAREA_MEDI                 6152
NONLIVINGAPARTMENTS_MEDI        8424
NONLIVINGAREA_MEDI              6773
FONDKAPREMONT_MODE                 0
HOUSETYPE_MODE                     0
TOTALAREA_MODE                  5915
WALLSMATERIAL_MODE                 0
EMERGENCYSTATE_MODE                0
OBS_30_CNT_SOCIAL_CIRCLE          36
DEF_30_CNT_SOCIAL_CIRCLE          36
OBS_60_CNT_SOCIAL_CIRCLE          36
DEF_60_CNT_SOCIAL_CIRCLE          36
DAYS_LAST_PHONE_CHANGE             0
FLAG_DOCUMENT_2                    0
FLAG_DOCUMENT_3                    0
FLAG_DOCUMENT_4                    0
FLAG_DOCUMENT_5                    0
FLAG_DOCUMENT_6                    0
FLAG_DOCUMENT_7                    0
FLAG_DOCUMENT_8                    0
FLAG_DOCUMENT_9                    0
FLAG_DOCUMENT_10                   0
FLAG_DOCUMENT_11                   0
FLAG_DOCUMENT_12                   0
FLAG_DOCUMENT_13                   0
FLAG_DOCUMENT_14                   0
FLAG_DOCUMENT_15                   0
FLAG_DOCUMENT_16                   0
FLAG_DOCUMENT_17                   0
FLAG_DOCUMENT_18                   0
FLAG_DOCUMENT_19                   0
FLAG_DOCUMENT_20                   0
FLAG_DOCUMENT_21                   0
AMT_REQ_CREDIT_BUREAU_HOUR      1597
AMT_REQ_CREDIT_BUREAU_DAY       1597
AMT_REQ_CREDIT_BUREAU_WEEK      1597
AMT_REQ_CREDIT_BUREAU_MON       1597
AMT_REQ_CREDIT_BUREAU_QRT       1597
AMT_REQ_CREDIT_BUREAU_YEAR      1597
dtype: int64

In [91]:
test_set = test_set.drop(['OWN_CAR_AGE', 'OCCUPATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'], axis=1)

In [92]:
test_set.shape

(12000, 69)

In [93]:
corr_matrix = test_set.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

to_drop = [column for column in upper.columns if any(upper[column] > 0.22)]
to_drop

<ipython-input-93-80b8ba6c4ffb>:2: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

['FLAG_OWN_CAR',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_PHONE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_2',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_8']

In [94]:
test_set = test_set.drop(to_drop, axis=1)
test_set.shape

(12000, 38)

In [95]:
col_names = test_set.columns
col_names

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE',
       'FLAG_MOBIL', 'FLAG_CONT_MOBILE', 'FLAG_EMAIL',
       'WEEKDAY_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'FONDKAPREMONT_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_4',
       'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'],
      dtype='object')

In [96]:
len(col_names)

38

In [97]:
for name in col_names:
    test_set[name] = test_set[name].fillna(test_set[name].mean())

In [98]:
test_set.isna().sum().any()

False

In [99]:
scaler.fit(test_set)
test_set = scaler.transform(test_set)

In [100]:
test_set = pd.DataFrame(test_set, columns=col_names)
test_set.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,FLAG_MOBIL,FLAG_CONT_MOBILE,FLAG_EMAIL,WEEKDAY_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,FONDKAPREMONT_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_7,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,0.863628,0.0,0.0,0.0,0.0,0.166667,0.016295,0.000000,0.000000,0.0,0.75,0.0,0.635991,0.0,1.0,0.0,0.000000,0.0,0.5,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.622871,0.0,0.0,0.0,0.0,0.000000,0.007242,0.500000,0.333333,0.0,0.75,0.0,0.282797,0.0,1.0,0.0,0.500000,0.0,1.0,0.037037,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.546197,0.0,0.0,0.5,0.0,0.000000,0.022330,1.000000,0.000000,0.0,0.00,0.0,0.429796,0.0,1.0,0.0,0.333333,0.0,1.0,0.222222,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.607242,0.0,0.0,0.5,0.0,0.000000,0.044458,0.333333,0.000000,0.0,0.50,0.0,0.276330,0.0,1.0,0.0,0.166667,0.0,1.0,0.185185,0.563394,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.914177,0.0,0.0,0.0,0.0,0.000000,0.009254,0.000000,0.000000,0.0,0.00,0.0,0.491595,0.0,1.0,0.0,0.666667,0.0,1.0,0.037037,0.404292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
test_set.shape

(12000, 38)

In [102]:
X_test = test_set.drop(['SK_ID_CURR', 'TARGET', 'AMT_INCOME_TOTAL'], axis=1)
y_test = test_set['AMT_INCOME_TOTAL']
X_test.shape, y_test.shape

((12000, 35), (12000,))

In [103]:
linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)

LinearRegression()

In [104]:
y_pred = linear_regression.predict(X_test)

In [105]:
y_pred.shape

(12000,)

In [106]:
print('Mean Absolute Error: ', mean_absolute_error(y_test, y_pred))

Mean Absolute Error:  0.030744056462822116

In [107]:
print('Mean Squared Error: ', mean_squared_error(y_test, y_pred))

Mean Squared Error:  0.0015814203915996208

In [108]:
print('R2 score: ', r2_score(y_test, y_pred))

R2 score:  -1.4689707378441752